html {
  scroll-behavior: smooth;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  
}

::-webkit-scrollbar {
    display: none;
}

.hello_svg__part1 {
    stroke-dasharray: 387.65;
    stroke-dashoffset: 387.65;
    animation: sign 0.19944s linear forwards;
    animation-delay: 0s;
  }
  
  .hello_svg__part2 {
    stroke-dasharray: 461.92;
    stroke-dashoffset: 461.92;
    animation: sign 0.23766s linear forwards;
    animation-delay: 0.19944s;
  }
  
  .hello_svg__part3 {
    stroke-dasharray: 568.76;
    stroke-dashoffset: 568.76;
    animation: sign 0.29193s linear forwards;
    animation-delay: 0.4371s;
  }
  
  .hello_svg__part4 {
    stroke-dasharray: 194.51;
    stroke-dashoffset: 194.51;
    animation: sign 0.10007s linear forwards;
    animation-delay: 0.72803s;
  }
  
  .hello_svg__part5 {
    stroke-dasharray: 278.39;
    stroke-dashoffset: 278.39;
    animation: sign 0.14323s linear forwards;
    animation-delay: 0.8281s;
  }
  
  .hello_svg__part6 {
    stroke-dasharray: 475.79;
    stroke-dashoffset: 475.79;
    animation: sign 0.2448s linear forwards;
    animation-delay: 0.97133s;
  }
  
  .hello_svg__part7 {
    stroke-dasharray: 428.03;
    stroke-dashoffset: 428.03;
    animation: sign 0.22073s linear forwards;
    animation-delay: 1.21613s;
  }
  
  .hello_svg__part8 {
    stroke-dasharray: 471.00;
    stroke-dashoffset: 471.00;
    animation: sign 0.24233s linear forwards;
    animation-delay: 1.43886s;
  }
  
  .hello_svg__part9 {
    stroke-dasharray: 437.21;
    stroke-dashoffset: 437.21;
    animation: sign 0.22495s linear forwards;
    animation-delay: 1.80120s;
  }
  
  .hello_svg__part10 {
    stroke-dasharray: 280.30;
    stroke-dashoffset: 280.30;
    animation: sign 0.14351s linear forwards;
    animation-delay: 2.26115s;
  }
  
  .hello_svg__part11 {
    stroke-dasharray: 263.22;
    stroke-dashoffset: 263.22;
    animation: sign 0.13543s linear forwards;
    animation-delay: 2.40467s;
  }

  .hello_svg__part12 {
    stroke-dasharray: 424.83;
    stroke-dashoffset: 424.831;
    animation: sign 0.216475s linear forwards;
    animation-delay: 2.5401s;
}

@keyframes sign {
    to {
        stroke-dashoffset: 0;
    }
}

.initial-animation {
    opacity: 0;
    animation: opacity-anim 1s ease-in-out forwards;
    animation-delay: 2.6s;
}

@keyframes opacity-anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.apple-bubble {
  width: fit-content;
  word-wrap: break-word;
  margin-bottom: 0px;
  position: relative;
  padding: 8px 15px;
  border-radius: 14px;
  background: #E5E5EA;
  color: black;
  align-self: flex-start;
}

.apple-bubble:before,
.apple-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 25px;
}

.from-them:before {
  left: -7px;
  width: 20px;
  background-color: #E5E5EA;
  border-bottom-right-radius: 16px;
}

.from-them:after {
  left: -10px;
  width: 10px;
  background-color: white;
  border-bottom-right-radius: 10px;
}

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
