.hello_svg__part1 {
    stroke-dasharray: 387.6499938964844;
    stroke-dashoffset: 387.6499938964844;
    animation: sign 0.407029s linear forwards;
    animation-delay: 0s;
}

.hello_svg__part2 {
    stroke-dasharray: 461.9181213378906;
    stroke-dashoffset: 461.9181213378906;
    animation: sign 0.485016s linear forwards;
    animation-delay: 0.407029s;
}

.hello_svg__part3 {
    stroke-dasharray: 568.75927734375;
    stroke-dashoffset: 568.75927734375;
    animation: sign 0.597198s linear forwards;
    animation-delay: 0.892045s;
}

.hello_svg__part4{
    stroke-dasharray: 194.5091552734375;
    stroke-dashoffset: 194.5091552734375;
    animation: sign 0.204232s linear forwards;
    animation-delay: 1.489243s;
}

.hello_svg__part5 {
    stroke-dasharray: 278.38922119140625;
    stroke-dashoffset: 278.38922119140625;
    animation: sign 0.292306s linear forwards;
    animation-delay: 1.693475s;
}

.hello_svg__part6 {
    stroke-dasharray: 475.7906799316406;
    stroke-dashoffset: 475.7906799316406;
    animation: sign 0.499583s linear forwards;
    animation-delay: 2.085781s;
}

.hello_svg__part7 {
    stroke-dasharray: 428.02923583984375;
    stroke-dashoffset: 428.02923583984375;
    animation: sign 0.450478s linear forwards;
    animation-delay: 2.585364s;
}

.hello_svg__part8 {
    stroke-dasharray: 470.9991455078125;
    stroke-dashoffset: 470.9991455078125;
    animation: sign 0.494549s linear forwards;
    animation-delay: 3.035842s; 
}

.hello_svg__part9 {
    stroke-dasharray: 437.2131652832031;
    stroke-dashoffset: 437.2131652832031;
    animation: sign 0.459074s linear forwards;
    animation-delay: 3.529391s;
}


.hello_svg__part10 {
    stroke-dasharray: 280.2974853515625;
    stroke-dashoffset: 280.2974853515625;
    animation: sign 0.294315s linear forwards;
    animation-delay: 3.988466s;
}

.hello_svg__part11 {
    stroke-dasharray: 263.22113037109375;
    stroke-dashoffset: 263.22113037109375;
    animation: sign 0.276381s linear forwards;
    animation-delay: 4.282781s;
}

.hello_svg__part12 {
    stroke-dasharray: 424.8319091796875;
    stroke-dashoffset: 424.8319091796875;
    animation: sign 0.4460729s linear forwards;
    animation-delay: 4.559162s;
}

@keyframes sign {
    to {
        stroke-dashoffset: 0;
    }
}

.initial-animation {
    opacity: 0;
    animation: opacity-anim 1s ease-in-out forwards;
    animation-delay: 4.6s;
}

@keyframes opacity-anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
